{{template "base-top" .}}

    <!-- [ Main Content ] start -->
        <main>
          <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <!-- The Alerts area -->
            {{template "alerts" .}}

            <!-- End Alerts area -->

            <!-- The Rules file editor textarea -->
            <form action="/" method="post">
                <div class="mb-4 w-full bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600">
                    <div class="py-2 px-4 bg-white rounded-b-lg dark:bg-gray-800">
                        <label for="editor" class="sr-only">Publish post</label>
                        <textarea name="rules_content" id="editor" rows="30" class="block font-mono px-0 w-full text-sm text-gray-800 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Your rules here ..." required>{{.rules_content}}</textarea>
                    </div>
                </div>
                <button type="submit" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                    Deploy Rules
                </button>
             </form>

            <!-- /End Rules file editor -->
          </div>
        </main>
      </div>


    <!-- [ Main Content ] end -->

<!-- Specific Page JS goes HERE  -->

{{template "scripts" .}}

{{template "base-bottom" .}}
